// @Author: Miloš Kolčák
// @Date:   2017-01-05T10:52:09+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-05T10:53:58+01:00

:local {
  .text {
    font-size: 24px;
    margin: 25px 0 35px;
  }
  .value {
    font-size: 64px;
    text-transform: uppercase;
  }
}
