// @Author: Miloš Kolčák
// @Date:   2017-01-04T14:21:10+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-12T16:07:57+01:00

.block {
  position: relative;
  display: inline-block;
  margin: 0px 3px 1px;
  transition: background-color 1s;
}
.block-wrapper {
  display: inline-block;
  position: relative;
}
.block-small {
  width: 195px;
  height: 132px;
}

.block {
  overflow: hidden;
  &-1 {
    width: 334px;
    height: 270px;
  }
  &-2 {
    width: 674px;
    height: 270px;
  }
}

.block-offset {
  padding: 0px 25px;
}

.block-primary {
  color: #FFF;
  background-color: $c_blue-light;
}

.block-grey {
  color: #FFF;
  background-color: $c_grey;
}

.block-green {
  color: #FFF;
  background-color: $c_green;
}

.block-blue {
  color: #FFF;
  background-color: $c_blue;
}

.block-red {
  color: #FFF;
  background-color: $c_magenta;
}

.infoWrapper {
  display: inline-block;
  position: relative;
}

.infoPreloader {
  bottom: 11px;
  left: 3px;
  position: absolute;
  overflow: hidden;
  width: 32px;
  height: 4px;
  &__bar {
    height: 22px;
    background-color: #0C5FB7;
  }
}
