// @Author: Miloš Kolčák
// @Date:   2017-01-10T10:14:07+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-10T10:29:34+01:00

//-- Panel Settings --//
$panel-background : #F2F2F2;

//-- Font Settings --//
$font-family    : 'Open Sans', sans-serif;
$font-light     : 300;
$font-regular   : 400;
$font-semibold  : 600;
$font-bold      : 700;
$font-extrabold : 800;

//-- Color Options --//
$c_blue       : #141F3C;
$c_blue-light : #0C71B9;
$c_green      : #39B54A;
$c_grey       : #4D4D4D;
$c_grey-light : #CCCCCC;
$c_magenta    : #D4145A;
