// @Author: Miloš Kolčák
// @Date:   2017-01-04T18:35:04+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-10T13:42:22+01:00

:local {
  .title {
    font-size: 24px;
    text-transform: uppercase;
    margin: 25px 0 15px;
  }

  .text {
    font-size: 18px;
    line-height: 1.2;
  }
}
