// @Author: Miloš Kolčák
// @Date:   2017-01-05T12:31:29+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-05T12:35:37+01:00

:local {
  .text {
    font-size: 24px;

  }
  .value {
    font-size: 48px;
    margin: 60px 0 10px;
  }
}
