// @Author: Miloš Kolčák
// @Date:   2017-01-05T12:31:29+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-10T15:44:23+01:00
@import "../styles/variables";
:local {
  .text {
    font-size: 24px;
    font-weight: $font-light;
  }
  .value {
    font-size: 48px;
    margin: 60px 0 10px;
  }
}
