// @Author: Miloš Kolčák
// @Date:   2017-01-06T17:30:25+01:00
// @Email:  milos.kolcak@gmail.com
// @Last modified by:   Miloš Kolčák
// @Last modified time: 2017-01-06T17:32:23+01:00

:local {
  .headline {
    padding-left: 40px;
    text-transform: uppercase;
    margin: 0.5em 0 1em;
  }
}
